<h1>
  List of all journal entries
</h1>

<hr>

<article>
  <header>
    <h2>
      Add a new journal entry
    </h2>
  </header>

  <form action="/insert_journal_entry" method="post">
    <div>
      <label for="user_id_box">
        User
      </label>

      <input type="text" id="user_id_box" name="query_user_id">
    </div>

    <div>
      <label for="prompt_id_box">
        Prompt
      </label>

      <input type="text" id="prompt_id_box" name="query_prompt_id">
    </div>

    <div>
      <label for="body_box">
        Body
      </label>

      <input type="text" id="body_box" name="query_body">
    </div>

    <div>
      <label for="source_box">
        Source
      </label>

      <input type="text" id="source_box" name="query_source">
    </div>

    <button type="submit">
      Create journal entry
    </button>
  </form>
</article>

<hr>

<article>
  <ul>
    <% @list_of_journal_entries.each do |a_journal_entry| %>
      <li>
        <a href="/journal_entries/<%= a_journal_entry.id %>">
          Journal entry #<%= a_journal_entry.id %>
        </a>
      </li>
    <% end %>
  </ul>
</article>

<hr>
